html,
body {
	height: 100%;
	margin:0;
	padding:0;
}

.heading {
  align-content: center;
  margin-bottom: 100px;;
}

.partner-logo {
    padding-top: 13px;
	padding-bottom: 13px;
	margin-left: 50px;
	margin-top: 20px;
    width: 266px;
    border: 1px solid #979797;	
    background-color: #D8D8D8;
    color: #333333;	
    font-family: "Roboto Mono";
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
}


.register-today-to-le {
    padding-top:10%;
    padding-bottom: 5%;
    padding-left:5%;
	color: #FFFFFF;
	font-family: "Roboto Mono";
	font-size: 43px;
    line-height: 57px;

}

.rectangle-3-copy-7 {
	height: 30px;
    border: 2px solid #45B0E5;
    margin-left:80%;
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
	max-width: 80px;

}

.box{
	max-width: 200px;
}
.what_you_learn {
	height: 888px;
}

.existing-user {
	font-family: "Nunito Sans";
	font-size: 14px;
    line-height: 19px;
	text-align: right;
	margin-right: 14%;
}

.rectangle-4-copy {
	position: relative;
	height: 90px;
	width:100%;
	background-color: #1A1A1A;
	box-shadow: 0 9px 14px 0 rgba(0,0,0,0.2);
}

.in-partnership-with {
	position: absolute;
	height: 29px;
	max-width: 100%;
	left: 50%;
	color: #FFFFFF;
	font-family: "Roboto Mono";
	font-size: 22px;
	line-height: 29px;
	padding-top: 20px;
}


.happy-worker-pexels-photo-9416 {
	position: relative;
	background: url("assets/Happy-worker_flipped.jpg") ;
	height: 888px;
	max-width: 100%;
	background-size: 100% 100%;
}

.tables {
    position: absolute;
	top: 10%;
	left: 50%;
	height: 299px;
	width: 50%;

}

#job-opportinity {
	text-align: left;
	padding-bottom: 2%;
	padding-left:2%;
}

.tables p {
	padding-left: 40px;
}

.according {
	padding-top: 30%;
}

#rectangle-4 {
	height: 100%;
    border: 1px solid #979797;
    background: url('assets/code-2558220.jpg');
    background-position: center;
    background-size: cover;
	text-align: center;
	width: 100%;
	background-size: 100% 100%;
}

#rectangle-3-copy-2 {
    height: 10%;
    width: 10%;
	background-color: #45B0E5;
    box-shadow: 2px 2px 4px 0 rgba(79,184,232,0.4);
    text-align: center;
    padding-top: 1%;
    color: white;
    margin-left: 40%;
    margin-top: 7%;
    
}
#sign-up-now {
    margin-bottom:5%;
	color: #FFFFFF;
	font-family: "Nunito Sans";
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
    text-align: center;
}


#learning-platform {
	height: 1152px;
	/* width: 100%; */
	background: url("assets/lms-bottega.jpg");
	background-position: center;
	background-size: cover;
}

.lp-headers {
	margin: auto;
	text-align: center;
}

.lp-main-header {
	color: #333333;
	font-family: "Roboto Mono";
	font-size: 30px;
	line-height: 39px;
}

.lp-sub-header {
	margin-right: 18%;
	margin-left: 18%;
	color: #444444;
	font-family: "Nunito Sans";
	font-size: 20px;
	line-height: 27px;
}

#info-cards {
	padding-top: 160px;
	padding-bottom: 160px;
	width: 100%;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
 	align-items: center;
}

.cards {
	float: left;
	height: 162px;
	width: 360px;
	margin: 20px 20px 20px 20px;
}

.card-header {
	font-size: 22px;
	text-align: center;
}

.card-text {
	font-size: 20px;
}

.slick-slide {
	margin-right: 20px;
	margin-left: 20px;
}

.profile-box {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pr
.pr * {
	box-sizing: border-box;
}

.pr {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 380px !important;
	height: 460px;
}

.pr
.profile-1
.profile-2
.profile-3
.profile-4
.profile-5
.profile-6
.profile-7 {
	max-width: 100%;
}

.pr .overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.pr:hover .overlay,
.pr.active .overlay {
	opacity: 1;
}

.pr .name {
	display: inline-block;
	position: absolute;
	top: 5%;
	left: 25%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pr .text {
	text-align: center;
	font-size: 15px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.profile-1 {
	background: url("assets/profile1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-2 {
	background: url("assets/profile2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-3 {
	background: url("assets/profile3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-4 {
	background: url("assets/profile4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-5 {
	background: url("assets/profile5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-6 {
	background: url("assets/profile6.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-7 {
	background: url("assets/profile7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}















