html,
body {
	height: 100%;
}

.heading {
  align-content: center;
}

.partner-logo {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 266px;
	border: 1px solid #979797;	
  background-color: #D8D8D8;
  color: #333333;	
  font-family: "Roboto Mono";	
  font-size: 22px;
  text-align: center;
}

.rectangle-3-copy-7 {
  margin-top: 59px;
/*  margin-left: 1162px;*/
	height: 40px;
	width: 140px;
  border: 2px solid #45B0E5;
}

.existing-user {
	height: 20px;
	width: 90px;
	color: #808080;
	font-family: "Nunito Sans";
	font-size: 14px;
  line-height: 19px;
  text-align: center;
}

#learning-platform {
	height: 1152px;
	width: 100%;
	background: url("lms-bottega.jpg");
	background-position: center;
	background-size: cover;
}

.lp-headers {
	margin: auto;
	text-align: center;
	margin-top: 157px;
}

.lp-main-header {
	color: #333333;
	font-family: "Roboto Mono";
	font-size: 30px;
	line-height: 39px;
}

.lp-sub-header {
	margin-right: 18%;
	margin-left: 18%;
	color: #444444;
	font-family: "Nunito Sans";
	font-size: 20px;
	line-height: 27px;
}

#info-cards {
	padding-top: 160px;
	padding-bottom: 160px;
	width: 100%;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
	float: left;
	height: 162px;
	width: 360px;
	margin: 20px 20px 20px 20px;
}

.card-header {
	font-size: 22px;
	text-align: center;
}

.card-text {
	font-size: 20px;
}


















